*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  font-size: 62.5%;
  --red: #F03E3E;
  --dark-blue: #040924;
  --white: #FFFFFF;
  --input-bg: #DCE2E9;
  --input-border: #b0b4b8;
  --dark-cian: #0C3440;
  --cian: #02799D;
}

body{
  height: 100vh;
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
  background: var(--dark-blue);
  display: flex;
  align-items: center;
  justify-content: center;
}

main{
  max-width: 42.8rem;
  background: var(--white);
  padding: 4.8rem 6.4rem 6.4rem;
  border-radius: .6rem;
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  box-shadow: 0 .2rem .4rem rgba(0,0,0,0.1);
}

fieldset{
  border: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

fieldset legend{
  font-size: 3.2rem;
  line-height: 4rem;
  font-weight: bold;
  color: var(--dark-cian);
  margin-bottom: 3.2rem;
}

.inputWrapper{
  display: flex;
  flex-direction: column;
}

.inputWrapper label{
  font-size: 1.4rem;
  color: var(--dark-cian);
  margin-bottom: .8rem;
}

.inputWrapper input{
  width: 100%;
  background: var(--input-bg);
  border: 1px solid var(--input-border);
  border-radius: .4rem;
  padding: 1.6rem;
}

.inputWrapper input:focus{
  outline: 2px solid var(--cian);
}

form button{
  margin: 3.2rem auto 0 auto;
  padding: 1.6rem;
  border: none;
  background: var(--cian);
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .8rem;
  font-weight: bold;
  border-radius: .4rem;
  font-size: 1.6rem;
  cursor: pointer;
  transition: .5s;
}

form button:hover{
  background: #025c77;
}

/*modal*/
.modalWrapper{
  position: absolute;
  inset: 0;
  display: grid;
  place-content: center;
  background: rgba(0,0,0,0.7);
}

.modalWrapper.hide{
  display: none;
}

.modal{
  background: var(--white);
  border-radius: .6rem;
  padding: 4.8rem;
  position: relative;
}

.modal button{
  background: none;
  border: none;
  top: 1.6rem;
  right: 1.6rem;
  position: absolute;
  cursor: pointer;
  transition: transform .5s;
}

.modal button:hover{
  transform: scale(1.1);
}

.alertError {
  position: absolute;
  background-color: var(--red);
  right: 0;
  top: 0;
  left: 0;
  text-align: center;
  padding: .8rem;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: var(--white);
  visibility: hidden;
  opacity: 0;
  transform: translateY(-30px);
  transition: transform 0.5s, opacity 0.5s;
  transition-delay: 0s, 0s; 
}

.alertError.open {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}
